:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #F6F6F1;
 
}
body{
  margin: 0px;
}
p{
  margin: 0px;
  cursor: default;
}

#app{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 39px;
  display: flex;
  width: 100vw;
  align-items: center;
  height: 50px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
}
.jules{
  justify-content: left;
  display: flex;


}
.options{
  display: flex;
  margin-left: auto;
}
.options > p{
  margin-right: 20px;
  cursor: pointer;

}
.julesImg{
  width: 45px;
  height: 35px;
  background-image:url(/public/jules.png);
  background-size:contain;
}